#comment_main {
    float: left; 
    width: 90%;
}

#comment_sub1 {
    float: left;
    font-size: 1;
}

#comment_sub2 {
    clear: both;
}

#comment_sub3 {
    font-size: 2;
}

#comment_sub4 {
    float: right;
    font-size: 1;
}