[submodule "lib/system"]
	path = lib/system
	url = gogs@webcraft-media.de:webcraft/system.git
[submodule "lib/font_awesome"]
	path = lib/font_awesome
	url = gogs@webcraft-media.de:webcraft/lib_font_awesome.git
