body {
  padding-top: 60px;
  padding-bottom: 40px;
}

/*.list {
    border: 2px solid #ccc;
}*/

.pro{
    background: url(http://mojotrollz.eu/web/uVote/api.php?call=img&cat=frontend_logos&id=pro.png);
}

.contra{
    background: url(http://mojotrollz.eu/web/uVote/api.php?call=img&cat=frontend_logos&id=contra.png)no-repeat;
}

.ent{
    background: url(http://mojotrollz.eu/web/uVote/api.php?call=img&cat=frontend_logos&id=enth.png)no-repeat;
}