#help-block {
    float: right; 
    padding: 0;
}

#controls {
    float: right; 
    margin-right: 10px;
}

 #controls2 {
     float: right;
     margin-right: 20px;
 }
 
.btn btn-primary#login_submit {
    float: right; 
    height: 32px; 
    font-size: 13px;
}