body {
    padding-top: 60px;
}

.panel-heading :hover{
    cursor: pointer;
}

.main_container {
}

.modal {
    float: left; 
    display:none;
}

.navbar-inner { 
    padding-left: 50px; 
    padding-right: 50px;
}

#site-content {
    padding: 0; 
    margin: 0; 
}
            
#user_main {
    padding: 0; 
    padding-top: 0px; 
    width: 50%; 
    float: left;
}
            
#user_list { 
    padding: 0px; 
    width: 49%; 
    float: right;
}