.btn#btn_register_form {
    margin-top: 0;
}

.control-group{
    margin: 0px; 
    padding: 0px;
}

#remember_me {
    margin-top: -1px;
}

#help-block-user-password-combi-wrong {
    display: none;
    color: red;
}

.btn btn-primary#btn-primary_register_form {
    clear: left; 
    height: 32px; 
    font-size: 13px;
}