
    
#vote_sub1 {
    float: left; 
    width: 75%; 
    padding: 5px; 
    padding-top: 0;
}

#vote_sub2 {
    margin: 0; 
    padding: 0; 
    float: right;
}

#vote_sub3 {
    width: 100%; 
    height: 125px; 
    margin: 0; 
    padding: 0;
}

#bt_vote_class_ {
    float: left; 
    width: 80px; 
    border-left: 1px solid lightgray; 
    padding-right: 2px; 
    padding-left: 2px;
}

 #uv_vote_class_ {
     float: left; 
     height: 125px; 
     width: 60px; 
     border-left: 1px solid lightgray; 
     padding-right: 2px; 
     padding-left: 2px;
 }
 
#time_done {
     background: white; 
     margin: 0; 
     padding: 0;
}

#vote_sub_3_1 {
    width: 5px; 
    margin: 0; 
    padding: 0;
}

#vote_sub_3_2 {
    width: 5px; 
    margin: 0; 
    padding: 0;
}

#time_left { 
    background: blue; 
    margin: 0; 
    padding: 0;
}
            